<div class="row grid-50">
<div class="col-xs-11 col-xs-offset-1 text-left">
    <label ng-class="errors ? 'text-danger': ''" for="{{ name }}" ng-bind="options.label"></label>
    <p class="help-text" ng-if="options.helpText && !value && !errors">
        <ng-bind ng-bind="options.helpText"></ng-bind>
    </p>
    <ul class="list-unstyled error-messages" ng-messages="errors" role="alert" multiple>
        <ng-repeat ng-repeat="(name, message) in errors">
            <li><small class="text-danger" ng-message="{{ name }}">{{ message }}</small></li>
        </ng-repeat>
    </ul>
</div>
<div class="col-xs-38 small">
    <div row-array="splittedMask" row-columns="{{ splittedMask.length }}" column-breakpoint='xs' row-class="{{ options.rowClass || 'grid-12' }}">
        <p class="form-inline">
            <input name="{{ name }}" ng-model="value" split-index="{{ $index }}" input-attrs="options.inputAttrs[$index]" class="form-control input-sm" type="hidden" input-type="text" masker="{{ item }}" set-on="change" set-value="getJoined($index, $event.target.value);" />
        </p>
    </div>
</div>
</div>
