<div class="text-input-wrapper grid-24">
    <div class="row field-controller">
        <div class="col-xs-14">
            <label ng-bind="field.path.options.label"></label>
        </div>
        <div class="col-xs-10">
            <input name="{{ field.$name }}" input-attrs="field.path.options.inputAttrs" class="form-control input-sm" type="text" mask="{{ field.path.options.mask }}" ng-required="{{ field.path.options.required ? 'true' : 'false' }}" />
        </div>
    </div>
    <div class="row field-label">
        <div class="col-xs-24">
            <span class="field-activator" ng-click="field.activate()"><ng-bind ng-bind="field.displayValue"></ng-bind> <span class="text-center icon-placeholder"><small class="fa fa-pencil"></small></span></span>
        </div>
    </div>
</div>
