<div class="row grid-50">
<div class="col-xs-11 col-xs-offset-1 text-left">
    <label ng-bind="field.path.options.label"></label>
    <p class="help-text" ng-if="field.path.options.helpText && !field.$viewValue && field.$pristine">
        <ng-bind ng-bind="field.path.options.helpText"></ng-bind>
    </p>
    <ul class="list-unstyled error-messages" ng-if="!field.$valid && field.$dirty" role="alert" multiple>
        <li class="text-danger"><small ng-bind="field.path.options.errorText"></small></li>
    </ul>
</div>
<div class="col-xs-38 select multiselect" ng-class="{ 'compact': field.path.options.enum.length>10 }">
    <span class="grid-11" ng-repeat="item in field.path.options.enum">
        <a name="{{ field.$name }}" role="button" ng-class="{ 'active': field.$viewValue.indexOf(item)>-1 }" ng-click="field.addOrRemove(item)">
            <small ng-bind="item.label ? item.label : item"></small>
        </a>
    </span>
</div>
</div>
