<div>
<div row-array="field.ref.queryPub" array-args="{ brandId: field.value.brand._id.toString() }" row-columns="6" column-breakpoint='xs' column-class="text-left">
    <small><a role="button" ng-class="( field.value == item ) ? 'active' : ''" ng-click="field.setRef(item)" ng-bind="item.label"></a><br/></small>
    <small ng-if="last"><a role="button" ng-class="field.value.$input ? 'active' : ''" ng-click="field.value.$input = true">Другая</a></small>
</div>
<p>&nbsp;</p>
<div class="form-group has-feedback" ng-show="field.value.$input">
    <model-form src="field.ref" instance="field.value" include-fields="label">
        <model-field name="label" auto-focus="true" />
    </model-form>
</div>
</div>
