<div class="row grid-50">
    <div class="col-xs-11 col-xs-offset-1 text-left">
        <label ng-bind="field.path.options.label"></label>
        <p class="help-text" ng-if="field.path.options.helpText && !field.$viewValue && !field.$error">
            <ng-bind ng-bind="field.path.options.helpText"></ng-bind>
        </p>
        <ul class="list-unstyled error-messages" ng-if="!field.$valid && field.$touched" role="alert" multiple>
            <li class="text-danger"><small>Данные введены неверно</small></li>
        </ul>
    </div>
    <div class="col-xs-22">
        <div class="select">
        <span ng-repeat="countLabel in field.path.options.countLabels">
            <a role="button" ng-class="{ 'active': field.$viewValue.length==countLabel[0] }" ng-click="field.setCount(countLabel[0])">
                <small ng-bind="countLabel[1]"></small>
            </a>
        </span>
        </div>
        <ng-repeat ng-repeat="item in field.$viewValue">
            <ng-form class="inline" name="{{ 'driverForm' + $index }}" model="Driver" instance="item"> 
            <hr class="transparent small" />
            <div class="row grid-24">
                <div class="col-xs-12"><label>Водитель {{ $index+1 }}</label></div>
                <div class="col-xs-12 select"><ng-model ng-model="gender" /></div>
            </div>
            <div class="row grid-24">
                <div class="col-xs-13"><ng-model ng-model="age" /></div>
                <div class="col-xs-11"><ng-model ng-model="experience" /></div>
            </div>
            </ng-form>
        </ng-repeat>
    </div>
</div>
