<div class="row grid-50">
<div class="col-xs-11 col-xs-offset-1 text-left">
    <label ng-bind="field.path.options.label"></label>
    <p class="help-text">
        <ng-bind ng-bind="field.path.options.helpText"></ng-bind>
    </p>
</div>
<div class="col-xs-38 select multiselect" ng-class="field.path.options.enum.length > 10 ? 'compact' : ''">
    <span class="grid-11" ng-repeat="item in field.path.options.enum">
        <a name="{{ field.$name }}" role="button" ng-class="{ 'active': field.$viewValue.indexOf(item) > -1 }" ng-click="field.addOrRemove(item)">
            <small ng-bind="item.label ? item.label : item"></small>
        </a>
    </span>
</div>
</div>
