<div class="row grid-50">
<div class="col-xs-11 col-xs-offset-1 text-left">
    <label ng-bind="field.path.options.label"></label>
    <p class="help-text" ng-if="field.path.options.helpText && !field.value && !field.$error">
        <ng-bind ng-bind="field.path.options.helpText"></ng-bind>
    </p>
</div>
<div class="col-xs-38 select compact">
    <span class="grid-11" array="field.ref.queryPub" array-name="refchoices">
        <a name="{{ field.name }}" role="button" ng-class="( field.$viewValue == item ) ? 'active' : ''" ng-click="field.setRef(item)">
            <small ng-bind="( item.title || item.label ) ? ( item.title || item.label ) : item"></small>
        </a>
    </span>
</div>
</div>
